body {
  background-color: rgb(74, 121, 190);
}
.App {
  margin: 20px;
}

.searchDiv {
  border: 2px solid rgb(243, 246, 247);
  padding: 8px;
  border-radius: 5px;
}
.searchDiv form {
  display: flex;
  flex-direction: column;
}
.searchLabel {
  color: rgb(243, 246, 247);
  font-size: x-large;
}
